---
import Layout from '../layouts/Layout.astro';
import { getCatFact } from '../services/cats.service';
import { getGifUrl } from '../services/gifs.service';

const catFact = await getCatFact();
const firstThreeWords = catFact.split(' ').slice(0, 3).join(' ');
const gifUrl = await getGifUrl(firstThreeWords);
---

<Layout title='Cats and Gifs'>
  <main>
    <section>
      <h3>Cat</h3>
      <img src={gifUrl} alt='Cat Gif' />
    </section>
    <section>
      <h3>Fact</h3>
      {catFact}
    </section>
  </main>
</Layout>

<style>
  main {
    padding: 40px;
    justify-content: center;
    color: black;
    font-size: 20px;
    line-height: 1.6;
    align-items: flex-start;
    gap: 34px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    height: calc(100dvh - 120px);
    overflow-y: auto;

    section {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 5px 10px;
        max-height: 700px;
      }
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
