---
import Layout from '../layouts/Layout.astro';
import { getCatFact } from '../services/cats.service';
import { getGifUrl } from '../services/gifs.service';

const catFact = await getCatFact();
const firstThreeWords = catFact.split(' ').slice(0, 3).join(' ');
const gifUrl = await getGifUrl(firstThreeWords);
---

<Layout title='Cats and Gifs'>
  <main>
    <section>
      <img src={gifUrl} alt='Cat Gif' />
    </section>
    <section>
      {catFact}
    </section>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    justify-content: center;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    align-items: center;
    gap: 34px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
