<div>
  <p>Technical Challenges - 2024</p>
</div>

<style>
  div {
    align-items: center;
    box-shadow: 0 -10px 10px -10px lightgrey;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;

    p {
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
    }
  }
</style>
